src/main/resources/wsdl/greet.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://flydubai.com/HelloSoap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://flydubai.com/HelloSoap" targetNamespace="http://flydubai.com/HelloSoap">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://flydubai.com/HelloSoap">

            <xs:element name="HelloSoapRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="clientName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="HelloSoapResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="response" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="HelloSoapRequest">
        <wsdl:part element="tns:HelloSoapRequest" name="HelloSoapRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HelloSoapResponse">
        <wsdl:part element="tns:HelloSoapResponse" name="HelloSoapResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GreetPort">
        <wsdl:operation name="HelloSoap">
            <wsdl:input message="tns:HelloSoapRequest" name="HelloSoapRequest">
            </wsdl:input>
            <wsdl:output message="tns:HelloSoapResponse" name="HelloSoapResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GreetPortSoap11" type="tns:GreetPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="HelloSoap">
            <soap:operation soapAction=""/>
            <wsdl:input name="HelloSoapRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HelloSoapResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GreetPortService">
        <wsdl:port binding="tns:GreetPortSoap11" name="GreetPortSoap11">
            <soap:address location="http://localhost:8081/HelloSoapService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>